page-login {
 
    .login-content {
      background: #424446;
      background-image: linear-gradient(#424446,#424446); //, #4f3026);
      height: 100%;
      .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }
   
      .login-box {
        padding: 10px 10px 0px 10px;
        margin-top: 30px;
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
       ion-item {
           border-radius: 10px !important;
           padding-left: 15px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
   
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 20px;
       }
   
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
         margin-left:0px !important;
       }
   
       .submit-btn {
         background: #f37249;
         border-radius: 10px !important;
         height: 40px;
         border: 1px solid #ffffff;
       }
       .footer-col  {
         color: white;
         font-size: 15px;
         bottom: 0px;
       }
    
    }
    
 
   
  }