page-project-details {
    .project-details {
        background-color: #424446;
        color: #fff;
      }
    
    .squaremeters {
        vertical-align: super;
        font-size: smaller;
    }
   .note-md ,.note-ios ,.note-wp  {
        color:#111 !important;
    }

    .label {
        font-weight: bold;
    }
    .caption {
        background-color: #666;
        border-bottom: 1px solid #222;
        box-shadow: 0 0 5px 0px #222;
        color:#fff;

        .item-inner {
           border: 0px !important;
        } 
    }
    .sliders
    {
        //border:1px solid #333;
        padding:5px;
    }
}
