page-project-details {
    .project-details {
        background: #424446;
        color: #fff;
      }
    .card-content {
        background: #424446;
        color: #fff;
    }
    
    .card-header {
        background: #666;
        color: #fff;
    }
    .squaremeters {
        vertical-align: super;
        font-size: smaller;
    }

    
}
