<ion-header>
    <ion-navbar color="dark">
        <ion-title>Proje Detayı</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="project-details" no-padding>
    <div class="sliders">
        <ion-slides *ngIf="details.photos && details.photos.length" autoplay="5000" loop="true" speed="500" class="slides" pager="true"
            style="height: 140px;">
            <ion-slide *ngFor="let slide of details.photos">
                <img src="{{slide.photo}}" style="width: 100%;height: %100;" />
            </ion-slide>
        </ion-slides>
    </div>
    <ion-list no-padding>
        <ion-row>
            <ion-col>
                <ion-item class="caption">
                    <div> {{ details.title }} </div>
                    <p style="color: #fff">#{{ id2 }}</p>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Bedeli</ion-label>
                    <ion-note item-end> {{ details.price | currency:' ':false }} {{details.currency.toUpperCase()}} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Başlangıç</ion-label>
                    <ion-note item-end> {{ details.startDate | date:"dd-MM-yyyy"}} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Bitiş</ion-label>
                    <ion-note item-end>{{ details.finishDate | date:"dd-MM-yyyy"}}</ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Arsa Boyutu</ion-label>
                    <ion-note item-end>{{ details.landSize }} m
                        <span class="squaremeters">2</span>
                    </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Kapalı Alan</ion-label>
                    <ion-note item-end>{{ details.closedAreaSize }} m
                        <span class="squaremeters">2</span>
                    </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Bölüm Sayısı</ion-label>
                    <ion-note item-end>{{ details.numberOfPart }} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Yapı Türü</ion-label>
                    <ion-note item-end>{{ details.structureTypeName }} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Bölge</ion-label>
                    <ion-note item-end>{{ details.cityGroupName }} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Lokasyon</ion-label>
                    <ion-note item-end>{{ details.cityName }},{{ details.stateName }} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Proje Durumu</ion-label>
                    <ion-note item-end>{{ details.projectStatusName }} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Proje Aşaması</ion-label>
                    <ion-note item-end>{{ details.statusName }} </ion-note>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="label">Proje Açıklaması</ion-label>
                    <ion-icon name="arrow-down" item-end></ion-icon>
                </ion-item>
            </ion-col>
            <ion-col col-12>
                <ion-item>
                    <ion-note text-wrap style="font-weight: 400">
                        {{ details.description }}
                    </ion-note>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>

</ion-content>